@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #545754;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-b-header.is-open .t-b-header-background {
  left: 0;
}
.t-b-header-button-wrapper {
  margin-left: auto;
}
.t-b-header-icon {
  display: none;
}

.t-b-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-b-navigation-list.is-open {
  right: 0;
}
.t-b-header-icon-menu {
  display: block;
}

.t-b-header-icon-button.is-open .t-b-header-icon-menu {
  display: none;
}

.t-b-header-icon-button.is-open .t-b-header-icon-close {
  display: block;
}

.t-b-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: #ffffff;
}

.t-b-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffff;
}
.t-b-header.is-open .t-b-header-background {
  left: 0;
}
.t-b-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-b-header-icon-menu {
  display: block;
}

.t-b-header-icon-button.is-open .t-b-header-icon-menu {
  display: none;
}

.t-b-header-icon-button.is-open .t-b-header-icon-close {
  display: block;
}

.t-b-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.t-b-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 756px;
  transition: 0.3s;
  z-index: 999;
  padding: 56px 32px;
  gap: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section\ \(2\).png");
}

.t-b-navigation-list.is-open {
  right: 0;
}

.t-b-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #545754;
}

.t-b-navigation-link:hover,
.t-b-navigation-link:focus {
  border-bottom: 1px solid;
}

.t-b-header.is-open {
  background-color: transparent;
}

.t-b-navigation-img {
  display: none;
}

@media screen and (min-width: 1209px) {
  .t-b-navigation-img {
    display: flex;
    margin-right: 180px;
  }
  .t-b-header-icon-title {
    display: none;
  }
  .t-b-header-button-wrapper {
    display: none;
  }
  .t-b-header {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-b-header-background {
  }
  .t-b-header-icon-button {
    display: none;
  }
  .t-b-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-b-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-b-navigation-link {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .t-b-navigation-item-desk {
    display: none;
  }
}
.t-b-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
  color: #ffffff;
}
.t-b-home-container {
  width: 375px;
  padding: 88px 16px 0px;
  margin: auto;
}

.t-b-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.t-b-home-title {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-b-home-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 24px;
}
.t-b-home-text-two {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-b-home-link {
  transition: all 0.3s ease-in-out;
  width: 343px;
  height: 56p;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 32px;
  background: #8c3061;

  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-top: 32px;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-b-home-link:hover {
  background: #762852;
}
@media screen and (min-width: 1209px) {
  .t-b-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .t-b-home-container {
    width: 1440px;
    padding: 261px 88px 0px;
  }

  .t-b-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 616px;
  }

  .t-b-home-title {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 52px;
    leading-trim: NONE;
    line-height: 78px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-b-home-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-home-text-two {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-home-div {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .t-b-home-link {
    width: 198px;

    border-radius: 32px;
  }
}
.t-b-about {
  margin: auto;
  width: 375px;
  height: 788px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Container.png");
}
.t-b-about-container {
  padding: 60px 15px 0px;
  margin: auto;
}
.t-b-about-title {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #8c3061;

  padding: 7px 15px;
  width: fit-content;
  border: 1px solid #8c3061;
}
.t-b-about-title-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #f8897e;
  padding-top: 24px;
}
.t-b-about-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 24px;
}
@media screen and (min-width: 1209px) {
  .t-b-about {
    width: 1440px;
    height: 898px;
    background-image: url("/img/Container\ \(1\).png");
  }
  .t-b-about-container {
    width: 1440px;
    padding: 314px 736px 0 88px;
  }
  .t-b-about-title {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-about-title-text {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 62px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .t-b-about-text {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-b-why {
  width: 375px;
  height: 1026px;
  margin: auto;
  background-image: url("/img/rituals_section.png");
}
.t-b-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.t-b-why-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
.t-b-why-item {
  width: 280px;
  height: 152px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #6161611a;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-b-why-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #f8897e;
}
.t-b-why-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #141414;
  padding: 16px 0 4px;
}

@media screen and (min-width: 1209px) {
  .t-b-why {
    width: 1440px;
    height: 620px;
    margin: auto;
    background-image: url("/img/Container\ \(3\).png");
  }
  .t-b-why-container {
    width: 1440px;
    margin: auto;
    padding: 138px 212px 138px 88px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .t-b-why-div {
    width: 508px;
  }
  .t-b-why-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    width: 600px;
  }
  .t-b-why-item {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .t-b-why-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .t-b-why-text {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-b-how {
  margin: auto;
  background: #f8dbcb;
}
.t-b-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}

.t-b-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-bottom: 16px;
}

.t-b-how-item {
}

.t-b-how-img {
  width: 343px;
  height: 228px;
}
.t-b-how-text-bold {
  width: fit-content;
  margin: -28px auto 0;
  padding: 16px;

  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #6161611a;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1209px) {
  .t-b-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }

  .t-b-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .t-b-how-item {
    width: 400px;
  }

  .t-b-how-img {
    width: 400px;
    height: 295px;
  }
}

.t-b-characters {
  margin: auto;
  width: 375px;
  height: 908px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/Main\ Container.png");
}
.t-b-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
}
.t-b-characters-text-bold {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 24px;
}

.t-b-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 16px;
  padding-bottom: 16px;
}
.t-b-characters-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-b-characters-img {
  width: 24px;
}
@media screen and (min-width: 1209px) {
  .t-b-characters {
    width: 1440px;
    height: 864px;
    background-image: url("/img/characters/Main\ Container\ \(1\).png");
  }
  .t-b-characters-container {
    padding: 198px 88px 0 736px;
    margin: auto;
    width: 1440px;
  }
  .t-b-characters-text-bold {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0%;
    padding-top: 24px;
  }

  .t-b-characters-item {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-b-characters-img {
    width: 24px;
  }
}
.t-b-scenes {
  background-image: url("/img/Behind\ the\ Scenes_section.png");
  width: 375px;
  height: 444px;
  margin: auto;
}

.t-b-scenes-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}

@media screen and (min-width: 1209px) {
  .t-b-scenes {
    background-image: url("/img/Behind\ the\ Scenes_section\ \(1\).png");
    width: 1440px;
    height: 446px;
    margin: auto;
  }

  .t-b-scenes-container {
    width: 1440px;
    margin: auto;
    padding: 100px 16px;
  }
}

.t-b-faq-container {
  padding: 60px 16px 60px;
  width: 375px;
  margin: auto;
}
.t-b-faq-list {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.t-b-faq-item {
  width: 292px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-b-faq-item-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 42px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #8c3061;
  width: 80.11709594726562px;
  height: 84px;
  padding-top: 46px;
  padding-left: 40px;
  background-repeat: no-repeat;

  background-image: url("/img/Vector.png");
}
@media screen and (min-width: 1209px) {
  .t-b-faq-container {
    padding: 100px 88px;
    width: 1440px;
    margin: auto;
  }

  .t-b-faq-list {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .t-b-faq-item {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-b-faq-item-text {
    width: 83px;
    height: 84px;

    padding-top: 46px;
    padding-left: 40px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;

    background-image: url("/img/Vector.png");
  }
}
.t-b-impact {
  background-image: url("/img/Emotional_emoact_section.png");
  width: 375px;
  height: 444px;
  margin: auto;
}

.t-b-impact-container {
  margin: auto;
  padding: 60px 96px 0 16px;
}
@media screen and (min-width: 1209px) {
  .t-b-impact {
    background-image: url("/img/Emotional_emoact_section\ \(1\).png");
    width: 1440px;
    height: 508px;
    margin: auto;
  }

  .t-b-impact-container {
    margin: auto;
    padding: 100px 844px 0 88px;
  }
}

.t-b-gallery-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-b-gallery-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.t-b-gallery-image {
  width: 343px;

  object-fit: cover;
  object-position: center;
}
.t-b-gallery-text {
  box-shadow: 8px 8px 20px 0px #6161611a;
  background: #ffffff;
  width: 343px;
  height: 80px;

  padding: 16px;
  margin-top: -28px;
  position: relative;
  z-index: 1;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1209px) {
  .t-b-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px;
  }

  .t-b-gallery-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .t-b-gallery-item {
    width: 400px;
  }
  .t-b-gallery-image {
    width: 400px;
    height: 267px;
  }
  .t-b-gallery-text {
    padding: 16px;
    margin: -28px auto 0;
    width: 352px;
    height: 80px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-b-about-text-gallery {
    width: 508px;
  }
}
.t-b-magic {
  background-image: url("/img/Behind\ the\ Scenes_section\ \(2\).png");
  width: 375px;
  height: 402px;
  margin: auto;
}

.t-b-magic-container {
  padding: 60px 16px;
}
@media screen and (min-width: 1209px) {
  .t-b-magic {
    background-image: url("/img/Behind\ the\ Scenes_section\ \(3\).png");
    width: 1440px;
    height: 446px;
    margin: auto;
  }

  .t-b-magic-container {
    padding: 100px;
  }
}
.t-b-features {
  margin: auto;
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/contact_section.png");
}

.t-b-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;

  gap: 32px;
}

.t-b-features-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.t-b-features-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.t-b-features-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #545754;
  text-decoration: none;
}
.t-b-features-lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  padding-top: 40px;
}
.t-b-features-items {
  background: #ffffff;
  box-shadow: 8px 8px 20px 0px #6161611a;
  width: 343px;
  height: 304px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}
.t-b-features-items-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-bottom: 24px;
}
@media screen and (min-width: 1209px) {
  .t-b-features {
    width: 1440px;
    margin: auto;
    height: 620px;
    background-image: url("/img/features/Contact\ Section.png");
  }
  .t-b-features-container {
    width: 1440px;
    margin: auto;
    padding: 119px 304px 119px 88px;
    flex-direction: row;
    align-items: center;
  }

  .t-b-features-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-b-features-items {
    width: 508px;
    height: 232px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-b-container {
  padding: 116px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #0b0b0b;
}

.t-b-container h1 {
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-b-container h2 {
  margin-top: 10px;

  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-b-container h3 {
  margin-top: 10px;

  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-b-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.t-b-container ul li {
  margin-bottom: 10px;
}
.t-b-container p {
  margin-top: 10px;
}
.t-b-container a {
  text-decoration: none;
  color: #006fff;
  transition: all 0.3s ease-in-out;
}

.t-b-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1209px) {
  .t-b-container {
    padding: 160px 212px 96px;
    width: 1440px;
    margin: auto;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-b-container h1 {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 62px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-b-container h2 {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-b-container h3 {
    margin-top: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-b-container ul {
    margin-top: 20px;
  }

  .t-b-container ul li {
    margin-bottom: 10px;
  }
  .t-b-container p {
    margin-top: 20px;
  }
}

.t-b-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #f8dbcb;
}

.t-b-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-b-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #141414;
}

.t-b-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .t-b-footer-container {
    width: 1440px;
    padding: 60px 108px;

    align-items: stretch;
    gap: 60px;
  }

  .t-b-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 60px;
  }

  .t-b-footer-text {
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-b-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-b-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #faf7f1;

  z-index: 1000;
  display: none;
}

.t-b-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #0b0b0b;
}

.t-b-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-b-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #323232;
  width: 343px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 32px;

  transition: all 0.3s ease-in-out;
  font-family: Poppins;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  x: #2e2a26;
}

.t-b-cookie-button:hover {
  background: #323232;

  color: #ffffff;
}
#accept-cookies {
  background: #30338c;

  color: #ffffff;
}
#accept-cookies:hover {
  background: #26296e;

  color: #ffffff;
}

.t-b-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1209px) {
  .t-b-cookie-popup-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  .t-b-cookie-button {
    width: 184px;
    height: 56px;

    padding-top: 16px;

    padding-bottom: 16px;
    border-width: 1px;
  }

  .t-b-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    width: 808px;
  }

  .t-b-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .t-b-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
